@model EntityLayer.Concrete.Admin

@{
    ViewBag.Title = "AdminAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AdminAdd", "Admin", FormMethod.Post))
{
    <div class="form-group">
        <br />
        @Html.Label("Kullanıcı Adı", new { @style = "margin-left: 20px;" })
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @style = "margin-left: 20px;" })
        <br />
        @Html.Label("Şifre", new { @style = "margin-left: 20px;" })
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @style = "margin-left: 20px;" })
        <br />
  
        
        <button class="btn btn-info" style="margin-left: 20px;">Ekle</button>
    </div>
}

